.c-feed {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;

	.toggler {
		margin-top: 1.125rem;
	}

	.feed-date {
		font-size: 12px;
		font-weight: normal;
		color: rgba(0, 0, 0, 0.4);
		margin-top: 0.625rem;
	}
}